.grid{
    position: absolute;
    width: 560px;
    height: 300px;
    border: solid black 2px
}
.brick{ 
position: absolute;
width: 100px;
height: 20px;
background-color: red;
border: solid blue 1px;
}

.userStick{ 
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: black;
    border: solid blue 1px;
    }